# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Flask
instance/
.webassets-cache

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# VS Code
.vscode/
*.code-workspace

# Database
*.db
*.sqlite
*.sqlite3

# Uploads and static files
static/uploads/*
!static/uploads/.gitkeep

# Google Cloud credentials
*.json
credentials/

# OS specific
.DS_Store
Thumbs.db
